  <!-- Off Canvas Navigation -->
  <div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> 
  <!--- Off Canvas Side Menu -->
    <div class="close" data-toggle="offcanvas" data-target=".navmenu">
        <i class="fa fa-close"></i>
    </div>
      <h3 class="title-menu">All Pages</h3>
      <ul class="nav navmenu-nav"> <!--- Menu -->
        <li><a href="index.html">Home V1</a></li>
        <li><a href="index-v-2.html">Home Page V2</a></li>
        <li><a href="index-v-3.html">Home Page V3</a></li>
        <li><a href="about.html">About us</a></li>            
        <li><a href="category.html">Category</a></li>             
        <li><a href="ads-details.html">Ads details</a></li>    
        <li><a href="pricing.html">Pricing Tables</a></li>    
        <li><a href="account-archived-ads.html">Account - Archived</a></li>
        <li><a href="account-close.html">Account - Close</a></li>
        <li><a href="account-favourite-ads.html">Account - Favourite ads</a></li>
        <li><a href="account-home.html">Account - Home</a></li>
        <li><a href="account-myads.html">Account - My ads</a></li>
        <li><a href="account-pending-approval-ads.html">Ads pending/approval</a></li>
        <li><a href="account-saved-search.html">Saved search</a></li> 
        <li><a href="post-ads.html">Post ads</a></li> 
        <li><a href="posting-success.html">Posting success</a></li>  
        <li><a href="blog.html">Blog</a></li>
        <li><a href="blog-details.html">Blog Details</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="forgot-password.html">Forgot password</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="signup.html">Signup</a></li>
    </ul><!--- End Menu -->
  </div> <!--- End Off Canvas Side Menu -->
  <div class="tbtn wow pulse" id="menu" data-wow-iteration="infinite" data-wow-duration="500ms" data-toggle="offcanvas" data-target=".navmenu">
    <p><i class="fa fa-file-text-o"></i> All Pages</p>
  </div>      

  <!-- Hero Area Start -->
  <div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 text-center">
          <div class="contents">
            <h1 class="head-title">Welcome to <span class="year">ClassiX</span></h1>
            <p>Buy And Sell Everything From Used Cars To Mobile Phones And Computers, <br> Or Search For Property, Jobs And More</p>
            <!-- Search wrapper Start -->
            <div id="search-bg-color">
              <div class="container">
                <div class="search-inner">
                    <!-- Start Search box -->
                    <div class="row search-bar">
                      <div class="advanced-search">
                        <form class="search-form" method="get">
                          <div class="col-md-3 col-sm-6 search-col">
                            <div class="input-group-addon search-category-container">
                              <label class="styled-select">
                                <select class="dropdown-product selectpicker" name="product-cat" >
                                  <option value="0">All Categories</option>
                                  <option class="subitem" value="community"> Community</option>
                                  <option value="items-for-sale"> Items For Sale</option>
                                  <option value="jobs"> Jobs</option>
                                  <option value="personals"> Personals</option>
                                  <option value="training"> Training</option>
                                  <option value="real_estate"> Real Estate</option>
                                  <option value="services"> Services</option>
                                  <option value="vehicles"> Vehicles</option>
                                </select>                                    
                              </label>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 search-col">
                            <div class="input-group-addon search-category-container">
                              <label class="styled-select location-select">
                                <select class="dropdown-product selectpicker" name="product-cat" >
                                  <option value="0">All Locations</option>
                                  <option value="New York">New York</option>
                                  <option value="California">California</option>
                                  <option value="Washington">Washington</option>
                                  <option value="churches">Birmingham</option>
                                  <option value="Birmingham">Chicago</option>
                                  <option value="Phoenix">Phoenix</option>
                                </select>                                    
                              </label>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-6 search-col">
                            <input class="form-control keyword" name="keyword" value="" placeholder="Enter Keyword" type="text">
                            <i class="fa fa-search"></i>
                          </div>
                          <div class="col-md-3 col-sm-6 search-col">
                            <button class="btn btn-common btn-search btn-block"><strong>Search</strong></button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- End Search box -->
                </div>
              </div>
            </div>
            <!-- Search wrapper End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

</div>
<!-- Header Section End -->

<div class="wrapper">      
  <section class="grid-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-title no-border">
            <div class="inner">
              <h3 class="section-title"><span>Browse by</span> Category</h3>   
              <a href="category.html" class="sell-your-item"><i class="fa fa-th-large"></i> View more 
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12">              
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-car"></i>
              </div>
              <h6>Automobiles</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.2s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-laptop"></i>
              </div>
              <h6>Laptops</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.4s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-mobile"></i>
              </div>
              <h6>Mobiles</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.6s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-headphones"></i>
              </div>
              <h6>Electronics</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0.8s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-tv"></i>
              </div>
              <h6>Computer</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="1s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-home"></i>
              </div> 
              <h6>Real Estate</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="1.2s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <h6>Education</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="1.4s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-camera"></i>
              </div>
              <h6>Cameras</h6>
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category  wow fadeIn" data-wow-delay="1.6s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-female"></i>
              </div>
              <h6>Fashion & Beauty</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="1.8s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <h6>Matrimony</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="2s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-briefcase"></i>
              </div>
              <h6>Jobs</h6> 
            </a>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="2.2s">
            <a href="category.html">
              <div class="icon">
                <i class="fa fa-leaf"></i>
              </div>
              <h6>Services</h6> 
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  <!-- Start Services Section -->
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
            <div class="features-icon">
              <i class="fa fa-book">
              </i>
            </div>
            <div class="features-content">
              <h4>
                Full Documented
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="0.6s">
            <div class="features-icon">
              <i class="fa fa-paper-plane"></i>
            </div>
            <div class="features-content">
              <h4>
                Clean & Modern Design
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="0.9s">
            <div class="features-icon">
              <i class="fa fa-map"></i>
            </div>
            <div class="features-content">
              <h4>
                Great Features
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div> 
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="1.2s">
            <div class="features-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="features-content">
              <h4>
                Completely Customizable
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>           
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="1.5s">
            <div class="features-icon">
             <i class="fa fa-hourglass"></i>
            </div>
            <div class="features-content">
              <h4>
                100% Responsive Layout
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="1.8s">
            <div class="features-icon">
              <i class="fa fa-hashtag"></i>
            </div>
            <div class="features-content">
              <h4>
                User Friendly
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="2.1s">
            <div class="features-icon">
              <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="features-content">
              <h4>
                Awesome Layout
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="2.4s">
            <div class="features-icon">
              <i class="fa fa-leaf"></i>
            </div>
            <div class="features-content">
              <h4>
                High Quality
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="2.7s">
            <div class="features-icon">
              <i class="fa fa-google"></i>
            </div>
            <div class="features-content">
              <h4>
                Free Google Fonts Use
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Services Section -->
  <!-- Featured Listings Start -->
  <section class="featured-lis" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow fadeIn" data-wow-delay="0.8s">
          <h3 class="section-title">Featured Listings</h3>

          <!-- Test Start -->
            <div id="new-products" class="owl-carousel">
              <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 3648px; left: 0px; display: block; transition: all 800ms ease 0s; transform: translate3d(-456px, 0px, 0px);">

                  <div class="owl-item" style="width: 228px;">
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img1.jpg" alt="">  -->
                          <%= image_tag("product/img1.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div>    
                        <a href="ads-details.html" class="item-name">Lorem ipsum dolor sit</a>  
                        <span class="price">$150</span>  
                      </div>
                    </div>
                  </div>   

                  <div class="owl-item" style="width: 228px;">
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img2.jpg" alt=""> -->
                          <%= image_tag("product/img2.jpg") %> 
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div> 
                        <a href="ads-details.html" class="item-name">Sed diam nonummy</a>  
                        <span class="price">$67</span> 
                      </div>
                    </div>
                  </div>

                  <div class="owl-item" style="width: 228px;">  
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img3.jpg" alt="">  -->
                          <%= image_tag("product/img3.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div>
                        <a href="ads-details.html" class="item-name">Feugiat nulla facilisis</a>  
                        <span class="price">$300</span>  
                      </div>
                    </div>
                  </div> 

                  <div class="owl-item" style="width: 228px;"> 
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img4.jpg" alt=""> -->
                           <%= image_tag("product/img4.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                         </div> 
                        <a href="ads-details.html" class="item-name">Lorem ipsum dolor sit</a>  
                        <span class="price">$149</span> 
                      </div>
                    </div>
                  </div>  

                  <div class="owl-item" style="width: 228px;">
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img5.jpg" alt="">  -->
                          <%= image_tag("product/img5.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div>
                        <a href="ads-details.html" class="item-name">Sed diam nonummy</a>  
                        <span class="price">$90</span> 
                      </div>
                    </div>
                  </div>  

                  <div class="owl-item" style="width: 228px;">
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img6.jpg" alt="">  -->
                          <%= image_tag("product/img6.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div>                     
                        <a href="ads-details.html" class="item-name">Praesent luptatum zzril</a>  
                        <span class="price">$169</span> 
                      </div>
                    </div>
                  </div>
                  
                  <div class="owl-item" style="width: 228px;">  
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img7.jpg" alt="">  -->
                          <%= image_tag("product/img7.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div>  
                        <a href="ads-details.html" class="item-name">Lorem ipsum dolor sit</a>  
                        <span class="price">$79</span> 
                      </div>
                    </div>
                  </div>
                  
                  <div class="owl-item" style="width: 228px;">  
                    <div class="item">
                      <div class="product-item">
                        <div class="carousel-thumb">
                          <!-- <img src="assets/img/product/img8.jpg" alt="">  -->
                          <%= image_tag("product/img8.jpg") %>
                          <div class="overlay">
                            <a href="ads-details.html"><i class="fa fa-link"></i></a>
                          </div> 
                        </div>
                        <a href="ads-details.html" class="item-name">Sed diam nonummy</a>  
                        <span class="price">$149</span>   
                      </div>
                    </div>
                  </div>  

                </div>  
              </div>  

              <div class="owl-controls clickable">
                <div class="owl-pagination">
                  <div class="owl-page active">
                      <span class=""></span>
                  </div>
                  <div class="owl-page active">
                      <span class=""></span>
                  </div>
                </div>
                <div class="owl-buttons">
                  <div class="owl-prev">
                      <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="owl-next">
                      <i class="fa fa-angle-right"></i>
                  </div>
                  
                </div>

                
              </div>



            </div>
            <!-- Test end -->

        </div> 
      </div>
    </div>
  </section>
  <!-- Featured Listings End -->   

<!-- Counter Section Start -->
<section id="counter">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
          <div class="icon">
            <span>
              <i class="lnr lnr-tag"></i>
            </span>
          </div>
          <div class="desc">
            <h3 class="counter">12090</h3>
            <p>Regular Ads</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="counting wow fadeInDownQuick" data-wow-delay="1s">
          <div class="icon">
            <span>
              <i class="lnr lnr-map"></i>
            </span>
          </div>
          <div class="desc">
            <h3 class="counter">350</h3>
            <p>Locations</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
          <div class="icon">
            <span>
              <i class="lnr lnr-users"></i>
            </span>
          </div>
          <div class="desc">
            <h3 class="counter">23453</h3>
            <p>Reguler Members</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="counting wow fadeInDownQuick" data-wow-delay="2s">
          <div class="icon">
            <span>
              <i class="lnr lnr-license"></i>
            </span>
          </div>
          <div class="desc">
            <h3 class="counter">150</h3>
            <p>Premium Ads</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Section End -->  

<!-- Pricing Table Section -->
<section id="pricing-table" class="section">
  <div class="container">
    <div class="row">
        <h2 class="section-title">Find a pricing plan that’s fit your needs</h2>
      <div class="col-sm-4 wow fadeInDownQuick" data-wow-delay="0s">
        <div class="table wow">
          <div class="title">
            <h3>Free</h3>
          </div>
           <div class="pricing-header">
              <p class="price-value"> <sup>$</sup>0</p>
              <p class="price-quality">per month</p>
           </div>
          <ul class="description">
            <li><i class="fa fa-check-square"></i>Free ad posting</li>
            <li><i class="fa fa-times-circle-o"></i>Featured ads availability</li>
            <li><i class="fa fa-times-circle-o"></i>Multi-user</li>
            <li><i class="fa fa-check-square"></i>100% Secure!</li>
          </ul>
          <button class="btn btn-common" type="submit">Create Account</button>
        </div> 
      </div>
      <div class="col-sm-4 wow fadeInDownQuick" data-wow-delay="0.5s">
        <div class="table" id="active-tb">
          <div class="title">
            <h3>Standard</h3>
          </div>
           <div class="pricing-header">
              <p class="price-value"> <sup>$</sup>12</p>
              <p class="price-quality">per month</p>
           </div>
          <ul class="description">
            <li><i class="fa fa-check-square"></i>Free ad posting</li>
            <li><i class="fa fa-check-square"></i>6&nbsp;Featured ads availability</li>
            <li><i class="fa fa-check-square"></i>3 Users</li>
            <li><i class="fa fa-check-square"></i>100% Secure!</li>
          </ul>
          <button class="btn btn-common" type="submit">Purchase Now</button>
       </div> 
      </div>
      <div class="col-sm-4 wow fadeInDownQuick" data-wow-delay="0.8s">
        <div class="table">
          <div class="title">
            <h3>Platinum</h3>
          </div>
           <div class="pricing-header">
              <p class="price-value"> <sup>$</sup>29</p>
              <p class="price-quality">per month</p>
           </div>
          <ul class="description">
            <li><i class="fa fa-check-square"></i>Free ad posting</li>
            <li><i class="fa fa-check-square"></i>20&nbsp;Featured ads availability</li>
            <li><i class="fa fa-check-square"></i>Unlimited users</li>
            <li><i class="fa fa-check-square"></i>100% Secure!</li>
          </ul>
          <button class="btn btn-common" type="submit">Purchase Now</button>
        </div> 
      </div>
    </div>
  </div>
</section>
<!-- Pricing Table Section End -->   

<!-- App Section Start -->
<section class="app">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="app-inner wow fadeInLeft" data-wow-delay="0.5s">
          <h2>Get Free Mobile App from AppStore and GooglePlay</h2>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vel, commodi   laudantium officiis ipsum est aliquid dolore omnis, facilis molestiae dicta ipsam aperiam corporis minima mollitia iusto voluptatibus asperiores nemo.</p>
          </div>
          <button class="btn btn-common btn-lg"><i class="fa fa-apple"></i> App Store</button>
          <button class="btn btn-danger btn-lg"><i class="fa fa-play"></i> Google Play</button>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
<!-- app Section End -->


<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0s">
          <div class="widget">
            <h3 class="block-title">About us</h3>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed, auctor ut purus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.5s">
          <div class="widget">
            <h3 class="block-title">Useful Links</h3>
            <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Left Sidebar</a></li>
              <li><a href="#">Pricing Plans</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Full Width Page</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1s">
          <div class="widget">
            <h3 class="block-title">Latest Tweets</h3>
            <div class="twitter-content clearfix">
              <ul class="twitter-list">
                <li class="clearfix">
                  <span>
                    Platform to Download and Submit #Bootstrap Templates via @ProductHunt @GrayGrids
                    <a href="#">http://t.co/cLo2w7rWOx</a>
                  </span>
                </li>
                <li class="clearfix">
                  <span>
                    Introducing Bootstrap 4 Features: What’s new, What’s gone!
                    <a href="#">http://t.co/cLo2w7rWOx</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1.5s">
          <div class="widget">
            <h3 class="block-title">Random Ads</h3>
            <ul class="featured-list">
              <li>
                <!-- <img alt="" src="assets/img/featured/img1.jpg"> -->
                <%= image_tag("featured/img1.jpg") %>
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <!-- <img alt="" src="assets/img/featured/img2.jpg"> -->
                <%= image_tag("featured/img2.jpg") %>
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <!-- <img alt="" src="assets/img/featured/img3.jpg"> -->
                <%= image_tag("featured/img3.jpg") %>
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <!-- <img alt="" src="assets/img/featured/img4.jpg"> -->
                <%= image_tag("featured/img4.jpg") %>
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <!-- <img alt="" src="assets/img/featured/img5.jpg"> -->
                <%= image_tag("featured/img5.jpg") %>
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
              <li>
                <!-- <img alt="" src="assets/img/featured/img6.jpg"> -->
                <%= image_tag("featured/img6.jpg") %>
                <div class="hover">
                  <a href="#"><span>$49</span></a>
                </div>
              </li>
            </ul>             
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->
  
  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info pull-left">
            <p>All copyrights reserved &copy; 2018 - Designed by <a href="http://graygrids.com" rel="nofollow">GrayGrids</a></p>
          </div>              
          <div class="bottom-social-icons social-icon pull-right">  
            <a class="facebook" target="_blank" href="https://web.facebook.com/GrayGrids"><i class="fa fa-facebook"></i></a> 
            <a class="twitter" target="_blank" href="https://twitter.com/GrayGrids"><i class="fa fa-twitter"></i></a>
            <a class="dribble" target="_blank" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
            <a class="flickr" target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr"></i></a>
            <a class="youtube" target="_blank" href="https://youtube.com"><i class="fa fa-youtube"></i></a>
            <a class="google-plus" target="_blank" href="https://plus.google.com"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
<!-- Footer Section End -->  

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Start Loader -->
<!-- <div id="loader">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>  -->      