<!-- Start intro section -->
<section id="intro" class="section-intro">
  <div class="overlay" id="intro-home-page">
    <div
      class="container"
      id="home-page"
      style="display: flex; justify-content: center !important;">
      <!-- Start Search box -->
      <div class="main-text" id="home-header">
        <h2 class="intro-title" style="width: 80%; display: block; margin-left: auto; margin-right: auto;">
          <%= image_tag "Ha_Ov_Pr.png" %>
        </h2>
        <br>
        <div
          class="search-inner" 
          style="display: block; margin-left: auto; margin-right: auto;"
          id="home-search"> 
          <div class="row search-bar" id="srch-bar"> 
            <div class="advanced-search"> 
              <%= render :partial => "layouts/search_bar" %>
            </div>
          </div>
        </div>
      </div>
<!-- End Search box 1170px 800px -->
      
      <div id="myCarousel" class="carousel container slide">
        <!-- Items -->
        <div class="carousel-inner">
          <div class="active item">
            <!-- <img src="assets/img/marshall-img.jpg" alt="" /> -->
            <%= image_tag("marshall-img.jpg") %>
          </div>
          <div class="item">
            <!-- <img src="assets/img/camera-img.jpg" alt="" /> -->
            <%= image_tag("camera-img.jpg") %>
          </div>
          <div class="item">
            <!-- <img src="assets/img/cook-img.jpg" alt="" /> -->
            <%= image_tag("electric_drum_kit.jpg") %>
          </div>
        </div>
        <!-- Navigation -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</section>
    <!-- end intro section -->
<br>

<div class="wrapper">      
  <section class="grid-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-title no-border">
            <div class="inner">
              <h3 class="section-title"><span>Browse by</span> Category</h3>   
              <!-- <a href="/categories" class="sell-your-item"><i class="fa fa-th-large"></i> View more 
              </a> -->
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <% @categories.each do |c| %>              
            <div class="col-md-2 col-sm-3 col-xs-6 f-category wow fadeIn" data-wow-delay="0s">
              <a href="/categories/<%= c.id %>">
                <div class="icon">
                  <i class= "<%= @icon_list[c.id-1] %>" ></i>
                </div>
                <h6> <%= c.name %> </h6> 
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 7000});
  });
</script>
