<% if !@objects.nil? %>
  <% if @objects.respond_to? :each %>
    <% if !@objects.empty? %>
      <% @objects.each do |ask| %>
        <% product = Product.find(ask.product_id) %>
        <tr id="object-request-<%= ask.id %>">
          <td>
            <% if current_user.id == ask.borrower_id %>
              <% user_contact = User.find(ask.owner_id) %>
              <% contact = "#{user_contact.firstname } #{user_contact.lastname}" %>
            <% else %>
              <% user_contact = User.find(ask.borrower_id) %>
              <% contact = "#{user_contact.firstname } #{user_contact.lastname}" %>
            <% end %>

            <% conversation = Conversation.where(sender_id: ask.borrower_id, recipient_id: ask.owner_id).first %>
            <%= link_to "#{contact}", conversation_messages_path(conversation), class: 'inline-block' %>
          </td>
          <td class="add-img-td">
            <a href="/products/<%= product.id %>">
              <% product.uploads.each do |u| %>
                <%= image_tag u.variant(resize: "50x50") %>
              <% end %>
            </a>
          </td>
          <td class="ads-details-td">
            <h4>
              <a href="/products/<%= product.id %>"><%= product.title.capitalize %></a>
            </h4>
            <strong> Ajouté le : </strong>
            <%= product.created_at.getlocal.strftime("%d/%m/%y à %H:%M") %>
            <!-- <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p> -->
          </td>
          <td class="action-td">
            <% if ask.back_confirm == nil %>
              <% if ask.owner_id == current_user.id and ask.back_ask == true %>
                <p>
                  <a href="/loans/back/confirm/<%= ask.id %>" data-remote="true" class="btn btn-success btn-xs">
                    <i class=" fa fa-trash"></i>
                    Confirmer que l'objet est rendu.
                  </a>
                </p>
                  <p>
                  <a href="/loans/back/refuse/<%= ask.id %>" data-remote="true" class="btn btn-danger btn-xs">
                    <i class=" fa fa-trash"></i>
                    L'objet n'a pas été rendu.
                  </a>
                </p>
              <% end %>
            <% elsif ask.back_confirm == false %>
              <p> L'objet n'a pas été rendu à temps, contacter un administrateur. </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <% product = Product.find(@objects.product_id) %>
    <tr id="object-request-<%= @objects.id %>">
      <td>
        <% if current_user.id == @objects.borrower_id %>
          <% user_contact = User.find(@objects.owner_id) %>
          <% contact = "#{user_contact.firstname } #{user_contact.lastname}" %>
        <% else %>
          <% user_contact = User.find(@objects.borrower_id) %>
          <% contact = "#{user_contact.firstname } #{user_contact.lastname}" %>
        <% end %>

        <% conversation = Conversation.where(sender_id: @objects.borrower_id, recipient_id: @objects.owner_id).first %>
        <%= link_to "#{contact}", conversation_messages_path(conversation), class: 'inline-block' %>
      </td>
      <td class="add-img-td">
        <a href="/products/<%= product.id %>">
          <% product.uploads.each do |u| %>
            <%= image_tag u.variant(resize: "50x50") %>
          <% end %>
        </a>
      </td>
      <td class="ads-details-td">
        <h4>
          <a href="/products/<%= product.id %>"><%= product.title.capitalize %></a>
        </h4>
        <strong> Ajouté le : </strong>
        <%= product.created_at.getlocal.strftime("%d/%m/%y à %H:%M") %>
        <!-- <p> <strong>Visitors </strong>: 221 <strong>Located In:</strong> New York </p> -->
      </td>
      <td class="action-td">
        <% if @objects.back_confirm == nil %>
          <% if @objects.owner_id == current_user.id and @objects.back_ask == true %>
            <p>
              <a href="/loans/back/confirm/<%= @objects.id %>" data-remote="true" class="btn btn-danger btn-xs">
                <i class=" fa fa-trash"></i>
                Confirmer que l'objet est rendu.
              </a>
            </p>
              <p>
              <a href="/loans/back/refuse/<%= @objects.id %>" data-remote="true" class="btn btn-danger btn-xs">
                <i class=" fa fa-trash"></i>
                L'objet n'a pas été rendu.
              </a>
            </p>
          <% end %>
        <% elsif @objects.back_confirm == false %>
          <p> L'objet n'a pas été rendu à temps, contactez un administrateur. </p>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>