<section class="grid-category">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box-title no-border">
          <div class="inner">
          	<nav id="inventory-navigation-bar">
							<a style="color: white" href="/products/new" class="btn btn-common btn-lg "> Share Product </a>
						</nav>
            <h3 class="section-title text-center"><span> Mon Inventaire </span></h3>

          </div>
        </div>
      </div>

      <div class="col-sm-12 page-content">
        <table class="table table-condensed table-bordered table-hover box-shadow">
      	 <thead class="bg-info">
      		<tr>
      			<th class="text-left col-sm-3"> <h3>Title </h3></th>
      			<th class="col-sm-3 text-center"><h3> Pictures </h3></th>
      			<th class="col-sm-3 text-right text-center"><h3> Actions </h3></th>
      		</tr>
      	</thead>
      	<tbody>
      		<% @products.each do |p| %>
      			<tr>
      				<td class="col-sm-3 text-center">
      					<%= p.title.capitalize %>
		      		</td>

		      		<td class="col-sm-3 text-center no-padding photobox">
		      			<a href="/products/<%= p.id %>" class="nav-link">
			        		<% p.uploads.each do |u| %>
			        			<%= image_tag u.variant(resize: "250x250") %>
			        		<% end %>
		        		</a>
		      		</td>
	      			<td class="col-sm-3 text-right text-center">
	      				<ul>
									<li>
										<%= link_to "Edit", edit_product_path(p), class: "nav-link" %>
									</li>
									<li>
										<a href="/loans/ask/<%= @inventory.user_id %>/<%= p.id %>" class="nav-link">
										Ask for loaning
										</a>
									</li>
								</ul>
							</td>
						</tr>
					<% end %>
      	</tbody>
      </table>
      </div>
		</div>
	</div>
</section>
  <section lass="grid-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
          <div class="box-title no-border">
            <div class="inner bg-danger">
              <a style="color: white" href="/categories" class="btn btn-danger btn-lg"><i class="fa fa-th-large"></i> View more 
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
            <!-- Start Pagination -->
  <section lass="grid-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="box-title no-border">
            <div class="inner">
              <div class="pagination-bar">
                <ul class="pagination">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#"> ...</a></li>
                  <li><a class="pagination-btn" href="#">Next »</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <!-- End Pagination -->

            <div class="post-promo text-center">
              <h2> Do you get anything for sell ? </h2>
              <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
              <a href="post-ads.html" class="btn btn-post btn-danger">Post a Free Ad </a>
            </div>
          </div>
        </div>
      </div>
    </div>