<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row">
      <!-- Product Info Start -->
      <div class="product-info">
        <div class="col-sm-8">
          <div class="inner-box ads-details-wrapper">
            <h2> <%= @product.title %> </h2>
            <% if @product.inventory.user.id == current_user.id %>
              <h2> <%= link_to "Edit Product", edit_product_path(@product) %> </h2>
            <% else %>
              <div>
                <% if current_user.id != @product.inventory.user.id %>
                  <h2>
                    <%= form_for @loan, url: "/loans/ask", method: "post", remote: true, class: "search-form" do |f| %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <%= f.hidden_field :borrower_id, value: current_user.id  %>
                      <%= f.hidden_field :product_id, value: @product.id %>
                      <%= f.hidden_field :owner_id, value: @product.inventory.user.id %>
                      <%= f.submit "Demande de pret", commit: "Create", class: "btn btn-default" %>
                    <% end %>
                  </h2>
                <% end %>

                <h2> Your review </h2>
                <% 5.times do |index| %>
                  <span id="rate-value-<%= index %>" class="fa fa-star"></span>
                <% end %>
              </div>
            <% end %>

            <div class="blockquote-footer"> by: <%= @user.email %>
              <cite title="Source Title">on <%= @product.updated_at %></cite>
            </div>
            <% if !@product.uploads.nil? %>
              <% @product.uploads.each do |u| %>
                <div id="owl-demo" class="owl-carousel owl-theme">
                  <div class="item">
                    <!-- <img src="https://cdn.pixabay.com/photo/2016/06/18/17/42/image-1465348_960_720.jpg" /> -->
                    <%= image_tag u.variant(resize: "250x250") %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Product Details -->
          <div class="box">
            <h2 class="title-2"><strong>Product Details</strong></h2>
              <div class="row">
                <div class="ads-details-info col-md-8">
                  <ul class="list-circle">
                    <li>
                      <i class="fa fa-check-circle"></i>
                      <%= @product.long_desc %>
                    </li>
                  </ul>
                </div>
                <!-- Details Panel -->
                <div class="col-md-4">
                  <aside class="panel panel-body panel-details">
                    <ul>
                      <li>
                        <p class=" no-margin "><strong>Durée du prêt:</strong> de.. à..</p>
                      </li>

                      <li>
                        <p class="no-margin"><strong>Type:</strong> <a href="#">Electronics</a></p>
                      </li>

                      <li>
                        <p class="no-margin"><strong>Location:</strong> 
                          <a href="#">
                            <%= Address.find(@user.address_id).city %>
                          </a>
                        </p>
                      </li>

                      <li>
                        <p class=" no-margin "><strong>Country:</strong> 
                          <%= Address.find(@user.address_id).country %>
                        </p>
                      </li>
                      <% if !@product.brand_id.nil? %>
                      <li>
                        <p class="no-margin"><strong>Brand:</strong> 
                          <a href="#">
                            <%= Brand.find(@product.brand_id).name %>
                          </a>
                        </p>
                      </li>
                      <% end %>
                    </ul>
                  </aside>
                </div>

                <div class="ads-action">
                  <ul class="list-border">
                    <li>
                      <a href="#">
                        Posted by <i class=" fa fa-user"></i> <%= @user.email %>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <i class=" fa fa-heart"></i> Save ad
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="inner-box">
            <div class="widget-title">
              <h4>Advertisement</h4>
            </div>
            <img src="assets/img/img1.jpg" alt="">
          </div>

          <div class="col-xs-12">
            <div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
            <div class="features-icon">
              <i class="lnr lnr-star">
              </i>
            </div>
            <div class="features-content">
              <h4>
                Fraud Protection
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="0.6s">
            <div class="features-icon">
              <i class="lnr lnr-chart-bars"></i>
            </div>
            <div class="features-content">
              <h4>
                No Extra Fees 
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="0.9s">
            <div class="features-icon">
              <i class="lnr lnr-spell-check"></i>
            </div>
            <div class="features-content">
              <h4>
                Verified Data
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="features-box wow fadeInDownQuick" data-wow-delay="0.9s">
            <div class="features-icon">
              <i class="lnr lnr-smile"></i>
            </div>
            <div class="features-content">
              <h4>
                Friendly Return Policy
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var is_rated = false
    var stars = $('span[id*=rate-value-]');
    var stars_ids = [];
    stars.each(function() {
      stars_ids.push($(this).attr('id'));
    });
      // On parcourt les étoiles pour savoir sur laquelle le curseur pointe.
      stars.each(function() {
        // On récupère l'étoile courante et les précédentes.
        var current_star = $(this);

        var get_selected_stars = function(stars, stars_ids, current_star) {
          var id = current_star.attr('id').split('-')[2];
          selected_stars = [];
          for (var i = id; i >= 0; i--) {
            if(stars_ids.indexOf('rate-value-'+i) > -1) {
              selected_stars.push(stars[i]);
            }
          }

          return selected_stars;
        }

        var get_unselected_stars = function(stars, stars_ids, current_star) {
          var id = current_star.attr('id').split('-')[2];
          unselected_stars = [];
          for (var i = id; i <= stars.size; i++) {
            if(stars_ids.indexOf('rate-value-'+i) > -1) {
              unselected_stars.push(stars[i]);
            }
          }

          return unselected_stars;
        }
        $(this).on('click', function() {
          is_rated = true;
          data = {
            // authenticity_token: "<%= form_authenticity_token %>",
            rating : get_selected_stars(stars, stars_ids, current_star).length,
            reviewer_id: <%= current_user.id %>,
            reviewed_user_id: <%= @product.inventory.user.id %>,
            comment: "It is a good review !"
          };

          $.ajax({
            type: 'POST',
            url: "/reviews",
            data: data,
            beforeSend: function (xhr) {
              xhr.setRequestHeader("X-CSRF-Token", "<%= form_authenticity_token %>");
            }
          });
        });
        var callback_on = function() {
          
          var self = $(this);  

          selected_stars = get_selected_stars(stars, stars_ids, current_star);
          $(selected_stars).each(function() {
            if(is_rated == false) {
              $(this).addClass('checked');
              $(this).css('color', 'orange');
            }
          });
        }

        var callback_off = function() {
          unselected_stars = get_unselected_stars(stars, stars_ids, current_star);
          $(selected_stars).each(function() {
            if(is_rated == false) {
              $(this).removeClass('checked');
              $(this).css('color', 'rgb(51, 51, 51)');
            }
          });
        };
        $(this).hover(callback_on, callback_off);
      });
    });
</script>