<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @trade.title %>
</p>

<p>
	<% if @trade.images.attached? %>
      <div class="columns is-multiline">
        <% @trade.images.each do |image| %>
          <div class="column is-one-third">
            <%= image_tag image.variant(resize: "800x600>") %>
          </div>
        <% end %>
      </div>
    <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trade.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @trade.user %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
